.home-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  &-firts {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100vh;
    .back {
      &-color {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100vh;
        background-color: rgba(148, 220, 246, 0.292);
      }
      &-container {
        position: absolute;
        width: 100%;
        height: 100vh;
        &-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          background-position: center;
          background-size: contain;
          filter: blur(2px);
        }
      }
    }
    .box {
      position: absolute;
      z-index: 4;
      top: 0;
      right: 0;
      transform: rotate(20deg);

      &:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
        transform: translate3d(0, 0, 0);
      }
    }
    .wave {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0.4;
      position: absolute;
      top: 3%;
      left: 10%;
      background: #0af;
      width: 1500px;
      height: 1300px;
      margin-left: -150px;
      margin-top: -250px;
      transform-origin: 50% 48%;
      border-radius: 43%;
      animation: drift 7000ms infinite linear;

      &.-three {
        animation: drift 7500ms infinite linear;
        position: fixed;
        background-color: #77daff;
      }

      &.-two {
        animation: drift 3000ms infinite linear;
        opacity: 0.1;
        background: black;
        position: fixed;
      }
    }

    &-content{
      @include flex-center-column;
      z-index: 3;
      width: 100%;
      img{
        width: 40%;
        
      }

      .text{
        position: relative;
        background-color: darken($color: $third-img, $amount: 6);
        padding: 4px 10px;
        border-radius: 8px;
        color: $white;
        p{
          font-size: 20px;
          font-weight: 500;
        }
      }

      @media (max-width: 450px) {
        z-index: 4;
        
        img{
          width: 60%;
        }
      }
    }
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
