.nav-main-container{
    position: relative;
    height: 100vh;
    background-color: $primary-img;
    @include flex-center-column;
    justify-content: space-between;
    transition: all 0.2s ease;
    width: 4rem;
    overflow: hidden;
}
.nav-main-container.active{
    transition: all 0.2s ease;
    width: 13rem;
}
.nav-main-container.active .nav-bnt-img-ul-container{
    transition: all 0.2s ease;
}
.nav-main-container.active .nav-user-container{
    transform: translateX(0px);
    transition: all 0.2s ease;
}
.btn-nav-container{
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 18%;

    p{
        font-size: 1.75rem;
        font-weight: 600;
        color: $white;
        margin-left: 16px;
    }
}
.nav-bnt-img-ul-container{
    position: relative;
    margin-top: 0.8rem;
    @include flex-center-column;
    width: 90%;

    
    .img-nav{
        width: 3.75rem;
        padding: 0.28rem;
        margin-top: 3rem;
    }

    ul{
        list-style: none;
        position: absolute;
        top: 100%;
        left: 8%;
        height: 12rem;
        @include flex-center-column;
        align-items: flex-start;
        justify-content: space-evenly;
    }
}
.icon-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
    padding: 6px;
    transition: 0.9s ;
    
    
    span{
        font-size: 1.4rem;
        font-weight: 600;
        color: $white;
        margin-left: 18px;

    }
}
.icon-text-container:hover{
    border: 2px $white solid;
}
.icon-nav{
    border: 2px transparent solid;
    border-radius: 18px;
    padding: 0.1rem;
    transition: 0.2s;
    color: #fff;
}
.icon-nav:hover{
    border: 2px $white solid;
}
.nav-user-container{
    position: absolute;
    @include flex-center-column;
    flex-direction: row;
    bottom: 0;
    margin-bottom: 1.25rem;
    transition: all 0.2s ease;
    transform: translateX(-57px);
    
    span{
        font-size: 1.4rem;
        font-weight: 600;
        color: $white;
        margin-right: 18px;
    }
}